


body {
    margin: 0;                      
    font-family: Arial,   
    background-color: #f6f4ff;       
    color: #333333;                 
    line-height: 1.6;                
}



header {
    background-color: #6d4ef0;       
    color: white;                   
    text-align: center;              
    padding: 40px 20px;            
}



nav {
    margin-top: 20px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;          
    padding: 8px 16px;
    margin: 4px;                     
    border-radius: 20px;            
}

nav a:hover {                       
    background-color: white;
    color: #6d4ef0;
}


main {
    max-width: 800px;                
    margin: 0 auto;                 
    padding: 30px 20px;
    text-align: center;
}

main h2 {
    color: #5133d6;                  
}

main p {
    color: #555555;               
}



main img {
    display: block;
    margin: 10px auto;              
    border-radius: 60%;           
    border: 5px solid #ff8fb1;      
    object-fit: cover;              
}



main ul {
    list-style: none;               
    padding: 0;
    max-width: 500px;
    margin: 20px auto;           
    text-align: left;
}

main li {
    background-color: white;
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-left: 5px solid #ff8fb1;  
}



main p a {
    display: inline-block;
    background-color: #6d4ef0;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
}

main p a:hover {
    background-color: #5133d6;       
}

main > a {                          
    display: inline-block;
    background-color: #2b2a4c;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
}

main > a:hover {
    background-color: black;
}


hr {
    border: none;
    border-top: 2px solid #e0dcff;   /* halki line */
    margin: 30px 0;
}


footer {
    background-color: #2b2a4c;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

